@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    display: flex;
    flex-direction: column;
    font-family: Roboto, sans-serif;
    height: 100vh;
    margin: 0;
    box-sizing: border-box;
}

.header {
    background-color: #1F2937;
    margin: 0;
    padding: 15px;
    font-family: Roboto, sans-serif;
    display: flex;
    justify-content: space-between;
    padding: 10px 200px;
}

.header-left {
    display: flex;
    gap: 20px;
}

.header-text {
    display: flex;
    align-items: center;
}

.header-right {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
}

.hero-main, .hero-sub {
    width: 400px;
}

.top-section {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    padding: 50px 200px 100px;
}

.top-left {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-evenly;
}

.header-text {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 600;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: white;
}

button {
    color: white;
    background-color: #3882F6;
    padding: 8.5px 20px;
    border-radius: 8px;
    border: 0;
    margin: 5px 0px;
}

button a {
    color: white;
    font-weight: 600;
}

.hero-main {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.hero-sub {
    color: #E5E7eb;
    font-size: 18px;
}

.header-logo img {
    width: 75px;
}

.top-right img {
    width: 400px;
    border-radius: 10px;
}

.body {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    padding: 50px 200px 100px;
    justify-content: space-between;
    gap: 50px;
}

.body-schools {
    display: flex;
    gap: 40px;
}

.body-header {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.school-1, .school-2, .school-3, .school-4 {
    width: 220px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
    
}

.school-1 img, .school-2 img, .school-3 img, .school-4 img {
    border-radius: 10px;
    border: 2px solid #3882F6;
}

.quote {
    background-color: #E5E7eb;
    color: #1F2937;
    display: flex;
    justify-content: center;
    padding: 50px 0;
    flex-direction: column;
    padding: 65px 244px;
}

.quote-text {
    font-size: 36px;
    font-style: italic;
}

.quote-source {
    text-align: right;
    font-weight: 800;
}

.action {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 95px 0;
}

.sub-action {
    display: flex;
    background-color: #3882F6;
    color: white;
    border-radius: 10px;
    padding: 55px 150px;
    align-items: center;
    gap: 100px;
}

.action-banner-title {
    font-weight: 800;
    font-size: 22px;
}

.action-banner-subtext {
    color: #E5E7eb;
    font-size: 19px;
}

.action-lhs {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.action-rhs button {
    border: 2px solid white;
    font-weight: 800;
}

.footer {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    padding: 100px 165px;
}

